-#%button{:on => "tap:AMP.setState({total: '90'})"}
%amp-list{:id => "myList",:credentials => "include", :width => "auto" , :height => "530", :layout => "fixed-height", :src => "#{Rails.configuration.domain['api']}/api/v1/comercio/servicios/1/cart.json?clientId=CLIENT_ID(uid)"}
  %template{:class => "mt1",:type => "amp-mustache"}
    .commerce-cart-item.flex.flex-wrap.items-center.mx2.mb2.md-mx4.md-mt3.md-pb3
      .col-3.sm-col-2.md-col-2.lg-col-2
        %amp-img.commerce-cart-item-image{:alt => "{{nombre}}", :height => "1", :layout => "responsive", :noloading => "", :src => "{{imagen}}",:width => "1"}
          .commerce-loader{:placeholder => ""}
      .commerce-cart-item-desc.px1.col-6.sm-col-7.md-col-7.lg-col-7
        .h6.mb1 {{nombre}}
        %div {{lema}}

      .commerce-cart-item-price.col-3.h6.flex.flex-wrap.justify-around.items-start
        %span {{precio}}
        -#%span {{id}}
        %span
          %form{:method => "POST", "action-xhr" => "#{Rails.configuration.domain['api']}/api/v1/comercio/servicios/{{id}}/dropFromCart", :target => "_top",:on => "submit-success:myList.refresh,subtotalList.refresh"}
            %input{:name => "clientId", :type => "hidden", :value => "CLIENT_ID(uid)", "data-amp-replace" => "CLIENT_ID"}

            %button{:type => "submit",:disabled => false} X
  %div{:overflow =>"",:class => "list-overflow"}
    VER MAS

